In [14]:
"This is a 'string'.".upper()

"THIS IS A 'STRING'."

In [15]:
"This IS a 'string'.".lower()

"this is a 'string'."

In [16]:
str.upper("This is a 'string'")

"THIS IS A 'STRING'"

In [17]:
map(str.upper,["These","are","some","'strings'"])

Section 41.3: str.format and f-strings: Format values into a
string

In [18]:
i = 10
f = 1.5
s = "foo"
l = ['a', 1, 2]
d = {'a': 1, 2: 'foo'}

In [19]:
"{} {} {} {} {}".format(i, f, s, l, d)

"10 1.5 foo ['a', 1, 2] {'a': 1, 2: 'foo'}"

In [20]:
"{0} {1} {2} {3} {4}".format(i, f, s, l, d)

"10 1.5 foo ['a', 1, 2] {'a': 1, 2: 'foo'}"

In [21]:
"{i:d} {f:0.1f} {s} {l!r} {d!r}".format(i=i, f=f, s=s, l=l, d=d)

"10 1.5 foo ['a', 1, 2] {'a': 1, 2: 'foo'}"

In [22]:
"I am from {}. I love cupcakes from {}!".format("Australia", "Australia")

'I am from Australia. I love cupcakes from Australia!'

Section 41.7: Split a string based on a delimiter into a list of
strings

In [23]:
"This is a sentence.".split()

['This', 'is', 'a', 'sentence.']

Section 41.11: Join a list of strings into one string

In [24]:
" ".join(["once","upon","a","time"])

'once upon a time'

In [25]:
"---".join(["once", "upon", "a", "time"])

'once---upon---a---time'

Section 41.14: Justify strings

In [26]:
interstates_lengths = {
5: (1381, 2222),
19: (63, 102),
40: (2555, 4112),
93: (189,305),
}

In [27]:
for road, length in interstates_lengths.items():
    miles,kms = length
    print('{} -> {} mi. ({} km.)'.format(str(road).rjust(4), str(miles).ljust(4), str(kms).ljust(4)))

   5 -> 1381 mi. (2222 km.)
  19 -> 63   mi. (102  km.)
  40 -> 2555 mi. (4112 km.)
  93 -> 189  mi. (305  km.)

In [31]:
for road, length in interstates_lengths.items():
    print(road)
    print(length[0],length[1])

5
1381 2222
19
63 102
40
2555 4112
93
189 305

Section 41.16: Conversion between str or bytes data and
unicode characters

In [32]:
s = b'\xc2\xa9 abc'

In [35]:
s[0]

194

In [36]:
type(s)

bytes