In [1]:
a = [1, 2, 3, 4, 5]

In [2]:
a.append(6)
a.append(7)
a.append(7)

In [3]:
a

[1, 2, 3, 4, 5, 6, 7, 7]

In [4]:
b = [8, 9]
a.append(b)

In [5]:
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [ ]:
my_string = "hello world"
a.append(my_string)

In [6]:
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [7]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9]
a.append(b)
# a: [1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]
a[8]
# Returns: [8,9]

[8, 9]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9, 10]

In [8]:
a.extend(b)
# a: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
# Extend list with elements from a non-list enumerable:
a.extend(range(3))
# a: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [9]:
a = [1, 2, 3, 4, 5, 6] + [7, 7] + b

In [10]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9]

In [11]:
a.index(7)
# Returns: 6

6

In [12]:
a.index(49)

ValueError: 49 is not in list

In [13]:
a.index(7, 7)

7

In [14]:
a.index(7, 8)

ValueError: 7 is not in list

In [15]:
a.insert(0, 0) # insert 0 at position 0
a.insert(2, 5) # insert 5 at position 2

In [16]:
a

[0, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9]

In [17]:
a.pop(2)
# Returns: 5
# a: [0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
a.pop(8)
# Returns: 7
# a: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# With no argument:
a.pop()
# Returns: 10
# a: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

9

In [18]:
a.remove(0)
a.remove(9)
# a: [1, 2, 3, 4, 5, 6, 7, 8]
a.remove(10)
# ValueError, because 10 is not in a

ValueError: list.remove(x): x not in list

In [19]:
a.reverse()

In [20]:
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
a.count(7)

1

In [22]:
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
a.sort()

In [24]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
a.sort(reverse=True)

In [26]:
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
import datetime
class Person(object):

    def __init__(self, name, birthday, height):
        self.name = name
        self.birthday = birthday
        self.height = height

    def __repr__(self):
        return self.name

In [28]:
l = [Person("John Cena", datetime.date(1992, 9, 12), 175),
Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
Person("Jon Skeet", datetime.date(1991, 7, 6), 185)]

In [29]:
l.sort(key=lambda item: item.name)

In [30]:
l

[Chuck Norris, John Cena, Jon Skeet]

In [31]:
l.sort(key=lambda item: item.birthday)

In [32]:
l

[Chuck Norris, Jon Skeet, John Cena]

In [33]:
l.sort(key=lambda item: item.height)

In [34]:
l

[John Cena, Chuck Norris, Jon Skeet]

In [35]:
import datetime
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'height': 175},
{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'height': 180},
{'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]

In [40]:
l.sort(key=lambda item: item['name'])

In [42]:
l.sort(key=lambda item: item['birthday'])

In [43]:
l.sort(key=lambda item: item['height'])

In [44]:
import datetime
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'size': {'height': 175,
'weight': 100}},
{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'size' : {'height': 180,
'weight': 90}},
{'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'size': {'height': 185,
'weight': 110}}]

In [45]:
l.sort(key=lambda item: item['size']['height'])

In [46]:
l

[{'name': 'John Cena',
  'birthday': datetime.date(1992, 9, 12),
  'size': {'height': 175, 'weight': 100}},
 {'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'size': {'height': 180, 'weight': 90}},
 {'name': 'Jon Skeet',
  'birthday': datetime.date(1991, 7, 6),
  'size': {'height': 185, 'weight': 110}}]

Better way to sort using attrgetter and itemgetter

In [47]:
from operator import itemgetter,attrgetter
people = [{'name':'chandan','age':20,'salary':2000},
{'name':'chetan','age':18,'salary':5000},
{'name':'guru','age':30,'salary':3000}]

In [48]:
by_age = itemgetter('age')

In [52]:
by_salary = itemgetter('salary')

In [53]:
people.sort(key=by_age) #in-place sorting by age

In [54]:
people

[{'name': 'chetan', 'age': 18, 'salary': 5000},
 {'name': 'chandan', 'age': 20, 'salary': 2000},
 {'name': 'guru', 'age': 30, 'salary': 3000}]

In [55]:
people.sort(key=by_salary) #in-place sorting by salary

In [56]:
people

[{'name': 'chandan', 'age': 20, 'salary': 2000},
 {'name': 'guru', 'age': 30, 'salary': 3000},
 {'name': 'chetan', 'age': 18, 'salary': 5000}]

In [57]:
list_of_tuples = [(1,2), (3,4), (5,0)]
list_of_tuples.sort(key=itemgetter(1))
print(list_of_tuples)

[(5, 0), (1, 2), (3, 4)]

In [58]:
persons = [Person("John Cena", datetime.date(1992, 9, 12), 175),
Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
Person("Jon Skeet", datetime.date(1991, 7, 6), 185)] #reusing Person class from above

In [59]:
persons.sort(key=attrgetter('name')) #sort by name

In [60]:
persons

[Chuck Norris, John Cena, Jon Skeet]

In [61]:
by_birthday = attrgetter('birthday')

In [62]:
by_birthday

operator.attrgetter('birthday')

In [63]:
persons.sort(key=by_birthday) #sort by birthday

In [64]:
persons

[Chuck Norris, Jon Skeet, John Cena]

In [65]:
#10. clear()
a.clear()

In [66]:
a

[]

In [67]:
#11. Replication

b = ["blah"] * 3

c = [1, 3, 5] * 5

In [69]:
print(b)
print(c)

['blah', 'blah', 'blah']
[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

In [70]:
#12. Element deletion

a = list(range(10))

In [71]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
del a[::2]

In [73]:
a

[1, 3, 5, 7, 9]

In [74]:
del a[-1]

In [75]:
a

[1, 3, 5, 7]

In [76]:
del a[:]

In [77]:
a

[]

In [78]:
# 13. Copying

In [79]:
b = a
a.append(6)

In [80]:
a

[6]

Section 20.2: Accessing list values

In [85]:
lst = [1, 2, 3, 4]

In [82]:
lst[0]

1

In [83]:
lst[1]

2

In [86]:
lst[4]

IndexError: list index out of range

In [87]:
lst[-1]

4

In [88]:
lst[-2]

3

In [89]:
lst[-5]

IndexError: list index out of range

In [90]:
lst[1:] # [2, 3, 4]
lst[:3] # [1, 2, 3]
lst[::2] # [1, 3]
lst[::-1] # [4, 3, 2, 1]
lst[-1:0:-1] # [4, 3, 2]
lst[5:8] # [] since starting index is greater than length of lst, returns empty list
lst[1:10] # [2, 3, 4] same as omitting ending index

[2, 3, 4]

In [91]:
print(lst[1:])

[2, 3, 4]

In [92]:
print(lst[:3])

[1, 2, 3]

Advanced slicing

In [94]:
data = 'chandan purohit 22 2000' #assuming data fields of fixed length
name_slice = slice(0,19)
age_slice = slice(19,21)
salary_slice = slice(22,None)

In [98]:
#now we can have more readable slices
print(data[name_slice]) #chandan purohit
print(data[age_slice]) #'22'
print(data[salary_slice]) #'2000'

chandan purohit 22
20
0

Section 20.3: Checking if list is empty

In [100]:
lst = []
if not lst:
    print("list is empty")

list is empty

Section 20.4: Iterating over a list

In [102]:
my_list = ['foo', 'bar', 'baz']
for item in my_list:
    print(item)

foo
bar
baz

In [103]:
for (index, item) in enumerate(my_list):
    print('The item in position {} is: {}'.format(index, item))

The item in position 0 is: foo
The item in position 1 is: bar
The item in position 2 is: baz

In [104]:
for i in range(0,len(my_list)):
    print(my_list[i])

foo
bar
baz

In [105]:
for item in my_list:
    if item == 'foo':
        del my_list[0]
    print(item)

foo
baz

In [106]:
my_list

['bar', 'baz']

Section 20.5: Checking whether an item is in a list

In [ ]:
lst = ['test', 'twest', 'tweast', 'treast']

In [107]:
'test' in lst

False

In [108]:
'toast' in lst

False

In [109]:
slst = set(lst)
'test' in slst

False

Section 20.6: Any and All

In [110]:
nums = [1, 1, 0, 1]
all(nums)

False

In [111]:
chars = ['a', 'b', 'c', 'd']
all(chars)

True

In [112]:
nums = [1, 1, 0, 1]
any(nums)

True

In [113]:
vals = [None, None, None, False]
any(vals)

False

In [114]:
vals = [1, 2, 3, 4]
any(val > 12 for val in vals)

False

In [115]:
any((val * 2) > 6 for val in vals)

True

Section 20.8: Concatenate and Merge lists

In [116]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

In [117]:
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [118]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3', 'b4']

In [119]:
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [120]:
alist = []
len(list(zip(alist, blist)))

0

In [121]:
import itertools

alist = ['a1', 'a2', 'a3']
blist = ['b1']
clist = ['c1', 'c2', 'c3', 'c4']
for a,b,c in itertools.zip_longest(alist, blist, clist):
    print(a, b, c)

a1 b1 c1
a2 None c2
a3 None c3
None None c4

3. Insert to a specific index values:

In [122]:
alist = [123, 'xyz', 'zara', 'abc']
alist.insert(3, [2009])
print("Final List :", alist)

Final List : [123, 'xyz', 'zara', [2009], 'abc']

Section 20.10: Remove duplicate values in list

In [123]:
names = ["aixk", "duke", "edik", "tofp", "duke"]
list(set(names))

['aixk', 'duke', 'edik', 'tofp']

Section 20.11: Comparison of lists

In [124]:
[1, 10, 100] < [2, 10, 100]

True

In [125]:
[1, 10, 100] < [1, 10, 100]

False

In [126]:
[1, 10, 100] <= [1, 10, 100]

True

In [127]:
[1, 10, 100] < [1, 10, 101]

True

In [128]:
[1, 10, 100] < [0, 10, 100]

False

In [129]:
[1, 10] < [1, 10, 100]

True

Section 20.12: Accessing values in nested list

In [130]:
alist = [[[1,2],[3,4]], [[5,6,7],[8,9,10], [12, 13, 14]]]

In [131]:
print(alist[0][0][1])

2

In [132]:
print(alist[1][1][2])

10

In [133]:
alist[0][0].append(11)
print(alist[0][0][2])

11

In [134]:
for row in alist: #One way to loop through nested lists
    for col in row:
        print(col)

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
[12, 13, 14]

In [135]:
alist

[[[1, 2, 11], [3, 4]], [[5, 6, 7], [8, 9, 10], [12, 13, 14]]]

In [136]:
[col for row in alist for col in row]

[[1, 2, 11], [3, 4], [5, 6, 7], [8, 9, 10], [12, 13, 14]]

In [137]:
alist[1].insert(2, 15)

In [138]:
alist

[[[1, 2, 11], [3, 4]], [[5, 6, 7], [8, 9, 10], 15, [12, 13, 14]]]

In [139]:
for row in range(len(alist)): #A less Pythonic way to loop through lists
    for col in range(len(alist[row])):
        print(alist[row][col])

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
15
[12, 13, 14]

In [140]:
print(alist[1][1:])

[[8, 9, 10], 15, [12, 13, 14]]

In [141]:
print(alist)

[[[1, 2, 11], [3, 4]], [[5, 6, 7], [8, 9, 10], 15, [12, 13, 14]]]

Section 20.13: Initializing a List to a Fixed Number of Elements

In [142]:
my_list = [None] * 10
my_list = ['test'] * 10

In [143]:
my_list=[{1}] * 10

In [144]:
print(my_list)

[{1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}]

In [145]:
my_list[0].add(2)

In [146]:
my_list

[{1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2}]