In [1]:
a = [1, 2, 3, 4, 5]

In [2]:
a.append(6)
a.append(7)
a.append(7)

In [3]:
a

[1, 2, 3, 4, 5, 6, 7, 7]

In [4]:
b = [8, 9]
a.append(b)

In [5]:
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [ ]:
my_string = "hello world"
a.append(my_string)

In [6]:
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [7]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9]
a.append(b)
# a: [1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]
a[8]
# Returns: [8,9]

[8, 9]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9, 10]

In [8]:
a.extend(b)
# a: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
# Extend list with elements from a non-list enumerable:
a.extend(range(3))
# a: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [9]:
a = [1, 2, 3, 4, 5, 6] + [7, 7] + b

In [10]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9]

In [11]:
a.index(7)
# Returns: 6

6

In [12]:
a.index(49)

ValueError: 49 is not in list

In [13]:
a.index(7, 7)

7

In [14]:
a.index(7, 8)

ValueError: 7 is not in list

In [15]:
a.insert(0, 0) # insert 0 at position 0
a.insert(2, 5) # insert 5 at position 2

In [16]:
a

[0, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9]

In [17]:
a.pop(2)
# Returns: 5
# a: [0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
a.pop(8)
# Returns: 7
# a: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# With no argument:
a.pop()
# Returns: 10
# a: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

9

In [18]:
a.remove(0)
a.remove(9)
# a: [1, 2, 3, 4, 5, 6, 7, 8]
a.remove(10)
# ValueError, because 10 is not in a

ValueError: list.remove(x): x not in list

In [19]:
a.reverse()

In [20]:
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
a.count(7)

1

In [22]:
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
a.sort()

In [24]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
a.sort(reverse=True)

In [26]:
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
import datetime
class Person(object):

    def __init__(self, name, birthday, height):
        self.name = name
        self.birthday = birthday
        self.height = height

    def __repr__(self):
        return self.name

In [28]:
l = [Person("John Cena", datetime.date(1992, 9, 12), 175),
Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
Person("Jon Skeet", datetime.date(1991, 7, 6), 185)]

In [29]:
l.sort(key=lambda item: item.name)

In [30]:
l

[Chuck Norris, John Cena, Jon Skeet]

In [31]:
l.sort(key=lambda item: item.birthday)

In [32]:
l

[Chuck Norris, Jon Skeet, John Cena]

In [33]:
l.sort(key=lambda item: item.height)

In [34]:
l

[John Cena, Chuck Norris, Jon Skeet]

In [35]:
import datetime
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'height': 175},
{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'height': 180},
{'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]

In [40]:
l.sort(key=lambda item: item['name'])

In [42]:
l.sort(key=lambda item: item['birthday'])

In [43]:
l.sort(key=lambda item: item['height'])

In [44]:
import datetime
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'size': {'height': 175,
'weight': 100}},
{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'size' : {'height': 180,
'weight': 90}},
{'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'size': {'height': 185,
'weight': 110}}]

In [45]:
l.sort(key=lambda item: item['size']['height'])

In [46]:
l

[{'name': 'John Cena',
  'birthday': datetime.date(1992, 9, 12),
  'size': {'height': 175, 'weight': 100}},
 {'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'size': {'height': 180, 'weight': 90}},
 {'name': 'Jon Skeet',
  'birthday': datetime.date(1991, 7, 6),
  'size': {'height': 185, 'weight': 110}}]

Better way to sort using attrgetter and itemgetter

In [47]:
from operator import itemgetter,attrgetter
people = [{'name':'chandan','age':20,'salary':2000},
{'name':'chetan','age':18,'salary':5000},
{'name':'guru','age':30,'salary':3000}]

In [48]:
by_age = itemgetter('age')

In [52]:
by_salary = itemgetter('salary')

In [53]:
people.sort(key=by_age) #in-place sorting by age

In [54]:
people

[{'name': 'chetan', 'age': 18, 'salary': 5000},
 {'name': 'chandan', 'age': 20, 'salary': 2000},
 {'name': 'guru', 'age': 30, 'salary': 3000}]

In [55]:
people.sort(key=by_salary) #in-place sorting by salary

In [56]:
people

[{'name': 'chandan', 'age': 20, 'salary': 2000},
 {'name': 'guru', 'age': 30, 'salary': 3000},
 {'name': 'chetan', 'age': 18, 'salary': 5000}]

In [57]:
list_of_tuples = [(1,2), (3,4), (5,0)]
list_of_tuples.sort(key=itemgetter(1))
print(list_of_tuples)

[(5, 0), (1, 2), (3, 4)]

In [58]:
persons = [Person("John Cena", datetime.date(1992, 9, 12), 175),
Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
Person("Jon Skeet", datetime.date(1991, 7, 6), 185)] #reusing Person class from above

In [59]:
persons.sort(key=attrgetter('name')) #sort by name

In [60]:
persons

[Chuck Norris, John Cena, Jon Skeet]

In [61]:
by_birthday = attrgetter('birthday')

In [62]:
by_birthday

operator.attrgetter('birthday')

In [63]:
persons.sort(key=by_birthday) #sort by birthday

In [64]:
persons

[Chuck Norris, Jon Skeet, John Cena]

In [65]:
#10. clear()
a.clear()

In [66]:
a

[]

In [67]:
#11. Replication

b = ["blah"] * 3

c = [1, 3, 5] * 5

In [69]:
print(b)
print(c)

['blah', 'blah', 'blah']
[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

In [70]:
#12. Element deletion

a = list(range(10))

In [71]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
del a[::2]

In [73]:
a

[1, 3, 5, 7, 9]

In [74]:
del a[-1]

In [75]:
a

[1, 3, 5, 7]

In [76]:
del a[:]

In [77]:
a

[]

In [78]:
# 13. Copying

In [79]:
b = a
a.append(6)

In [80]:
a

[6]