In [1]:
num1 = 1
num2 = 2

print(num1+num2)

3

In [2]:
str1 = "Python "
str2 = "Programming"

print( str1 + str2)

Python Programming

In [4]:
print(len("Programming"))
print(len(['Python', 'Java', 'C']))
print(len({'Name': 'John', 'Addres': 'Brazil'}))

11
3
2

In [6]:
class Overloaded:
    def sum (self, a, b, c=0):
        s = a + b+ c
        return s
    
od = Overloaded()

In [7]:
sum = od.sum(7,8)
print(sum)

15

In [8]:
sum = od.sum(7,8, 9)
print(sum)

24

In [9]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age =  age

    def displayData(self):
        print("In parent class DisplayData method")
        print(self.name)
        print(self.age)

class Employee(Person):
    def __init__(self, name, age, id):

        super().__init__(name, age)
        self.empId = id

    def displayData(self):
        print("In child class DisplayData method")
        print(self.name)
        print(self.age)
        print(self.empId)

In [10]:
person = Person('John', 40)
person.displayData()

In parent class DisplayData method
John
40

In [12]:
person = Employee('John', 40, 'E005')
person.displayData()

In child class DisplayData method
John
40
E005

In [13]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

p1 = Point(1, 2)
p2 = Point(3,4)

print(p1+p2)

TypeError: unsupported operand type(s) for +: 'Point' and 'Point'

In [14]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return self.x + other.x, self.y + other.y


p1 = Point(1, 2)
p2 = Point(3,4)

print(p1+p2)

(4, 6)

In [17]:
class Point:
    def __init__(self, x):
        self.x = x

    def __mul__(self, other):
        return self.x * other.x


p1 = Point(12)
p2 = Point(5)

print(p1*p2)

60

In [18]:
class Person:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary


    def __gt__(self, other):
        return self.salary > other.salary


obj1 = Person('John', 4500)
obj2 = Person('Natasha', 6000)

print( obj1.name, 'earns more than', obj2.name, '-', obj1>obj2)

John earns more than Natasha - False