In [1]:
class Country:
    def ShowCountry(self):
        print('This is India')

class State(Country):
    def ShowState(self):
        print('This is State')

st = State()
st.ShowCountry()
st.ShowState()

This is India
This is State

In [2]:
class student:
    def method1(self, sno, sname):
        self.sno = sno
        self.sname = sname
    
    def method2(self):
        print("Student No: ", self.sno)
        print("Student Name: ", self.sname)

class marks:
    def setmarks(self, m1, m2):
        self.mark1 = m1
        self.mark2 = m2

    def putmarks(self):
        print("Mark 1 : ", self.mark1 )
        print("Mark 2 : ", self.mark2 )

class result(marks, student):
    def calc(self):
        self.total = self.mark1 + self.mark2

    def puttotal(self):
        print('Total : ', self.total)

In [3]:
r= result()
r.method1( 60, "Lucky")
r.setmarks(50, 60)

In [4]:
r.calc()

In [5]:
r.method2()

Student No:  60
Student Name:  Lucky

In [6]:
r.putmarks()

Mark 1 :  50
Mark 2 :  60

In [7]:
r.puttotal()

Total :  110

In [8]:
class student:
    def method1(self, sno, sname):
        self.sno = sno
        self.sname = sname
    
    def method2(self):
        print("Student No: ", self.sno)
        print("Student Name: ", self.sname)

class marks(student):
    def setmarks(self, m1, m2):
        self.mark1 = m1
        self.mark2 = m2

    def putmarks(self):
        print("Mark 1 : ", self.mark1 )
        print("Mark 2 : ", self.mark2 )

class result(marks):
    def calc(self):
        self.total = self.mark1 + self.mark2

    def puttotal(self):
        print('Total : ', self.total)

In [9]:
r= result()
r.method1( 60, "Lucas")
r.setmarks(50, 60)

In [10]:
r.calc()

In [11]:
r.method2()

Student No:  60
Student Name:  Lucas

In [12]:
r.putmarks()

Mark 1 :  50
Mark 2 :  60

In [13]:
r.puttotal()

Total :  110

In [ ]:
class one:
    display(self):
    self.x