SQLite

In [1]:
import sqlite3
conn = sqlite3.connect('enterprise.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE zoo
(critter VARCHAR(20) PRIMARY KEY,
count INT,
damages FLOAT)''')

In [2]:
curs.execute('INSERT INTO zoo VALUES("duck", 5, 0.0)')

curs.execute('INSERT INTO zoo VALUES("bear", 2, 1000.0)')

In [3]:
ins = 'INSERT INTO zoo (critter, count, damages) VALUES(?, ?, ?)'
curs.execute(ins, ('weasel', 1, 2000.0))

In [4]:
curs.execute('SELECT * FROM zoo')

rows = curs.fetchall()
print(rows)

[('duck', 5, 0.0), ('bear', 2, 1000.0), ('weasel', 1, 2000.0)]

In [5]:
curs.execute('SELECT * from zoo ORDER BY count')

curs.fetchall()

[('weasel', 1, 2000.0), ('bear', 2, 1000.0), ('duck', 5, 0.0)]

In [6]:
curs.execute('SELECT * from zoo ORDER BY count DESC')

curs.fetchall()

[('duck', 5, 0.0), ('bear', 2, 1000.0), ('weasel', 1, 2000.0)]

In [8]:
curs.execute('''SELECT * FROM zoo WHERE damages = (SELECT MAX(damages) FROM zoo)''')

curs.fetchall()

[('weasel', 1, 2000.0)]

In [9]:
curs.close()
conn.close()

In [10]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\luan lima\appdata\local\programs\python\python310\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\luan lima\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\luan lima\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import sqlalchemy as sa

In [25]:
import sqlalchemy as sa
from sqlalchemy.ext.declarative import declarative_base

In [26]:
conn = sa.create_engine('sqlite:///zoo.db')

In [27]:
Base = declarative_base()
class Zoo(Base):
    __tablename__ = 'zoo'
    critter = sa.Column('critter', sa.String, primary_key=True)
    count = sa.Column('count', sa.Integer)
    damages = sa.Column('damages', sa.Float)
    def __init__(self, critter, count, damages):
        self.critter = critter
        self.count = count
        self.damages = damages
    def __repr__(self):
        return "<Zoo({}, {}, {})>".format(self.critter, self.count, self.damages)

C:\Users\Luan Lima\AppData\Local\Temp\ipykernel_22028\1260064539.py:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [28]:
Base.metadata.create_all(conn)

In [29]:
first = Zoo('duck', 10, 0.0)
second = Zoo('bear', 2, 1000.0)
third = Zoo('weasel', 1, 2000.0)
first