3. Containers

In [1]:
my_list = [1, 'b', True]
my_list

[1, 'b', True]

In [2]:
my_list[0]

1

In [3]:
my_list[1] = 0
my_list

[1, 0, True]

In [4]:
my_list.append(3)
my_list

[1, 0, True, 3]

In [7]:
my_list + [1, 'b']

[1, 0, True, 3, 3, 1, 'b']

In [8]:
my_list += [3]
my_list

[1, 0, True, 3, 3, 3]

In [9]:
my_list = my_list + [3] # One shall not do that
my_list

[1, 0, True, 3, 3, 3, 3]

In [10]:
my_list.append([1, 'a'])
my_list

[1, 0, True, 3, 3, 3, 3, [1, 'a']]

In [12]:
my_list.extend([5])
my_list

[1, 0, True, 3, 3, 3, 3, [1, 'a'], [1, 'a'], 5]

In [13]:
import itertools
list2d = [[1,2,3], [4,5,6], [7], [8,9]]
merged = list(itertools.chain(*list2d))
merged

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
my_list = []
for i in range(10):
    my_list.append(i)
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
my_list = [1/(i+1) for i in range(10)]
my_list

[1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111,
 0.1]

In [16]:
my_list = [i for i in range(10) if i > 4]
my_list

[5, 6, 7, 8, 9]

In [17]:
x = (x**2 for x in range(10))
print(x)

<generator object <genexpr> at 0x0000021D14074C80>

In [18]:
import datetime
str(datetime.datetime.now())

'2025-02-08 10:14:52.768338'

In [19]:
print(datetime.datetime.now())
for x in ((x+1)**2 for x in range(int(1e7))):
    x**(-1/2)
print(datetime.datetime.now())

2025-02-08 10:15:09.178870
2025-02-08 10:15:13.834321

In [20]:
print(datetime.datetime.now())
lst = [(x+1)**2 for x in range(int(1e7))]
for x in lst:
    x**(-1/2)
print(datetime.datetime.now())

2025-02-08 10:15:52.719746
2025-02-08 10:15:58.141097

In [21]:
x = iter(range(10))
next(x)

0

In [22]:
x = (x**2 for x in range(10))
list(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

3.1.2. Filter, map, reduce

In [23]:
my_list = [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
filter(lambda x: x>0, my_list)

In [24]:
for el in filter(lambda x: x>0,my_list):
    print(el)

1
2
3
4
5

In [25]:
list(filter(lambda x: x>0, my_list))

[1, 2, 3, 4, 5]

In [26]:
print(my_list)
list(map(lambda x: abs(x), my_list))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

[5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5]

In [27]:
lst1 = [0,1,2,3,4]
lst2 = [5,6,7,8]
list(map(lambda x, y: x+y, lst1, lst2))

[5, 7, 9, 11]

In [28]:
sum([0,1,2,3,4,5,6,7,8,9,10])

55

In [29]:
from functools import reduce
reduce(lambda x, y: x+y, [0,1,2,3,4,5,6,7,8,9,10])

55

3.1.3. Iterating over lists

In [30]:
i = 0
for el in [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]:
    print(i, el)
    i += 1

0 -5
1 -4
2 -3
3 -2
4 -1
5 0
6 1
7 2
8 3
9 4
10 5

In [31]:
for index, el in enumerate([-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]):
    print(index, el)

0 -5
1 -4
2 -3
3 -2
4 -1
5 0
6 1
7 2
8 3
9 4
10 5

In [32]:
letters = ['a', 'b', 'c', 'd']
numbers = [1, 2, 3, 4, 5]
for l, n in zip(letters, numbers):
    print(l, n)

a 1
b 2
c 3
d 4

In [33]:
list(zip(letters, numbers))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [34]:
dict(zip(letters, numbers))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

3.1.4. Copying lists

In [35]:
x = [1, 2, 3, 4]
y = x
y[0] = 'a'
print(x, y)

['a', 2, 3, 4] ['a', 2, 3, 4]

In [36]:
x.copy()

['a', 2, 3, 4]

In [37]:
x = [1, 2, 3, 4]
y = x.copy()
y[0] = 'a'
print(x, y)

[1, 2, 3, 4] ['a', 2, 3, 4]

In [38]:
x = [[1, 'a'], 2, 3, 4]
y = x.copy() # equivalent to x[:]
y[0] = 'a'
print(x, y)

[[1, 'a'], 2, 3, 4] ['a', 2, 3, 4]

In [39]:
x = [[1, 'a'], 2, 3, 4]
y = x.copy()
y[0][0] = 'b'
print(x, y)

[['b', 'a'], 2, 3, 4] [['b', 'a'], 2, 3, 4]

In [40]:
from copy import deepcopy
x = [[1, 'a'], 2, 3, 4]
y = deepcopy(x)
y[0][0] = 'b'
print(x, y)

[[1, 'a'], 2, 3, 4] [['b', 'a'], 2, 3, 4]

3.1.5. Sorting lists - inplace operations

In [41]:
x = [1, 10, 2, 9, 3, 8, 4, 6, 5]
x = x.sort()
print(x)

None

In [42]:
x = [1, 10, 2, 9, 3, 8, 4, 6, 5]
x.sort()
print(x)

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [43]:
x = [1, 10, 2, 9, 3, 8, 4, 6, 5]
sorted(x)
print(x)

[1, 10, 2, 9, 3, 8, 4, 6, 5]

In [44]:
x = [1, 10, 2, 9, 3, 8, 4, 6, 5]
x = sorted(x)
print(x)

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [45]:
x = [1, 10, 2, 9, 3, 8, 4, 6, 5]
x is sorted(x)

False

In [46]:
x = [1, 10, 2, 9, 3, 8, 4, 6, 5]
x.sort(reverse=True)
print(x)

[10, 9, 8, 6, 5, 4, 3, 2, 1]

In [47]:
employees = [(111, 'John'), (123, 'Emily'), (232, 'David'), (100, 'Mark'), (1, 'Andrew')]
employees.sort(key=lambda x: x[0])
employees

[(1, 'Andrew'), (100, 'Mark'), (111, 'John'), (123, 'Emily'), (232, 'David')]

In [48]:
employees = [(111, 'John'), (123, 'Emily'), (232, 'David'), (100, 'Mark'), (1, 'Andrew')]
employees.sort(key=lambda x: x[1])
employees

[(1, 'Andrew'), (232, 'David'), (123, 'Emily'), (111, 'John'), (100, 'Mark')]

In [49]:
employees = [(111, 'John'), (123, 'Emily'), (232, 'David'), (100, 'Mark'), (1, 'Andrew')]
employees

[(111, 'John'), (123, 'Emily'), (232, 'David'), (100, 'Mark'), (1, 'Andrew')]

3.1.6. List extras

In [50]:
my_list = 5*['a']
my_list

['a', 'a', 'a', 'a', 'a']

In [51]:
3 in [1,2,3,4,5]

True

In [52]:
x = ['a']
y = ['a']
x == y

True

In [53]:
x = ('a')
y = ('a')
x is y

True

3.2. Tuples

In [54]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [55]:
my_tuple[0]

1

In [56]:
tuple([1,2,3])

(1, 2, 3)

3.3. Sets

In [57]:
{1,2,3,4}

{1, 2, 3, 4}

In [58]:
{1,2,3,4,4}

{1, 2, 3, 4}

In [59]:
my_list = [1, 2, 3, 4, 4, 5, 5, 5]
set(my_list)

{1, 2, 3, 4, 5}

In [60]:
my_tuple = (1, 2, 3, 4, 4, 5, 5, 5)
set(my_tuple)

{1, 2, 3, 4, 5}

In [61]:
A = {1,2,3}
B = {3,4,5}
print(f'A+B={A.union(B)}')
print(f'A-B={A-B}')
print(f'A*B={A.intersection(B)}')
print(f'A*0={A.intersection({})}')

A+B={1, 2, 3, 4, 5}
A-B={1, 2}
A*B={3}
A*0=set()

In [62]:
pm = {'system', 'source', 'I_MEAS', 'I_REF'}
signals = pm - {'system', 'source'}
signals

{'I_MEAS', 'I_REF'}

In [63]:
for s in signals:
    print(s)

I_REF
I_MEAS

In [64]:
next(iter(signals))

'I_REF'

In [65]:
list(signals)[0]

'I_REF'

In [66]:
first, second = (1, 2)
print(first, second)

1 2

In [67]:
first, second = {1, 2}
print(first, second)

1 2

In [68]:
employees = [(111, 'John'), (123, 'Emily'), (232, 'David'), (100, 'Mark'), (1, 'Andrew')]
for employee_id, employee_name in employees:
    print(employee_id, employee_name)

111 John
123 Emily
232 David
100 Mark
1 Andrew

3.4. Dictionaries

In [69]:
empty_set = {}
type(empty_set)

dict

In [70]:
empty_set = set()
type(empty_set)

set

In [71]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [72]:
my_dict['a']

1

In [73]:
for key in my_dict:
    print(key)

a
b
c
d

In [74]:
for key, value in my_dict.items():
    print(key, value)

a 1
b 2
c 3
d 4